#login-form {
	color: white;
	text-align: center;
	margin: 0px;
	font-weight: 800;
	font-size: 40px;
}

#login-form input {
	color: white;
	margin-top: 10px;
	border: none;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	text-align: center;
	font-weight: 800;
	font-size: 2rem;
	transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
	outline: none;
	border-color: rgba(255, 255, 255, 1);
}

#login-form input:hover {
	outline: none;
	border-color: rgba(255, 255, 255, 1);
}

#login-form :last-child {
	border: none;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

#login-form :last-child:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
}

#login-form input::placeholder {
	font-weight: 800;
	color: rgba(255, 255, 255, 0.5);
}
