@import './todos.css';
@import './quotes.css';

.hidden {
	display: none;
}

#extra-region {
	width: 100%;
	height: 100px;
}

#clock {
	color: white;
	text-align: center;
	font-weight: 900;
	font-size: 80px;
	margin: 0px;
	margin-top: 50px;
}

#greeting {
	color: white;
	text-align: center;
	margin: 0px;
	font-weight: 800;
	font-size: 40px;
}
