@import './todos.css';
@import './quotes.css';
@import './weather.css';
@import './loginForm.css';
@import './news.css';

.hidden {
	display: none;
	transition: display 3s ease-in-out;
}

#extra-region {
	width: 100%;
	height: 100px;
}

#clock {
	color: white;
	text-align: center;
	font-weight: 900;
	font-size: 90px;
	margin: 0px;
	margin-top: 50px;
}

#greeting {
	color: white;
	text-align: center;
	margin: 0px;
	font-weight: 800;
	font-size: 40px;
}

body {
	margin: 0 5rem;
}
