#todo-form {
	text-align: center;
}

#todo-form input {
	color: white;
	margin-top: 10px;
	border: none;
	border-bottom: 3px solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
	text-align: center;
	font-weight: 800;
	font-size: 2rem;
}

#todo-form input:hover {
	border-bottom: 3px solid rgba(255, 255, 255, 0.8);
	transition: border-color 0.3s ease-in-out;
}

#todo-form input:focus {
	outline: none;
}

#todo-form input::placeholder {
	font-weight: 800;
}

#todo-form span {
	color: white;
	font-weight: 400;
	font-size: 2rem;
}

ul {
	width: 33%;
}
#todo-list {
	color: white;
	padding: 0px;
	font-size: 1.5rem;
	margin-left: 1rem;
	transition: border-color 0.3s ease-in-out;
}

#todo-list button {
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	border-color: white;
	color: rgba(255, 255, 255, 0.4);
}

#todo-list button:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
}

#todo-list span {
	margin-left: 4rem;
	color: white;
	font-weight: 800;
	font-size: 2rem;
	text-align: center;
}

/* css hacking for todolist aligned  */
#todo__list-center {
	display: flex;
}
.todo__center {
	width: 33%;
}
